.course-page-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 2rem 1rem;
}

.course-page-title {
  text-align: center;
  margin: 1rem;
}

.file-link-list-container a:hover {
  text-decoration: underline;
}

@media (min-width: 600px) {
}
