.logged-in-body {
  width: auto;
  margin-left: 20%;
  min-height: 60rem;
  max-width: 80%;
  overflow-x: hidden;
}

@media (min-width: 600px) {
  .logged-in-body {
    width: auto;
    margin-left: 8%;
  }
}
